<div class="container">
  <!-- Header -->
  <header class="header">
    <h1>TeamBuilder Pokémon</h1>
    <p>¡Construye el mejor equipo de Pokémon y derrota a tus rivales!</p>
  </header>

  <!-- Main Content: Login Form -->
  <main class="main-content">
    <div class="login-box">
      <h2>Iniciar sesión</h2>
      <form action="#" method="post">
        <div class="input-group">
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" placeholder="Introduce tu usuario" required />
        </div>
        <div class="input-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" placeholder="Introduce tu contraseña" required />
        </div>
        <button routerLink="/teamBuilder" class="button">Iniciar sesión</button><br><br>
        <button class="button" routerLink="/pokedex">Ver Pokedex</button>
      </form>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 TeamBuilder Pokémon | Todos los derechos reservados</p>
  </footer>
</div>
