<!-- pokemon.component.html -->
<nav>
    <ul class="menu">
      <li class="menu-item" (mouseenter)="toggleMenu()" (mouseleave)="toggleMenu()">
        <a href="#">Cuenta</a>
        <ul *ngIf="menuVisible" class="submenu">
          <li><a href="#">Log Out</a></li>
          <li><a href="#">Mis Datos</a></li>
        </ul>
      </li>
      <li class="menu-item"><a href="#">Mis Equipos</a></li>
    </ul>
  </nav>
<div class="content">
    <div class="teamBuilder">
        <div class="cards-grid">
            <div *ngFor="let card of pokemonCards; let i = index" 
                 class="card" 
                 [class.selected]="i === selectedPokemonIndex" 
                 (click)="selectPokemonForCard(i)">
              <div *ngIf="card; else emptyCard">
                <img [src]="card.image" [alt]="card.name">
                <p>{{ card.name }} (#{{ card.pokedexNumber }})</p>
                <p>Types: {{ card.types.join(', ') }}</p>
                <p>Ability: {{ card.ability }}</p>
                <p>Item: {{ card.item }}</p>
              </div>
              <ng-template #emptyCard>
                <p>Empty Card</p>
              </ng-template>
            </div>
          </div>
          
        <div class="pokemon-list">
        <div *ngFor="let pokemon of allPokemon" class="pokemon" (click)="replacePokemon(pokemon)">
            <img [src]="pokemon.image" [alt]="pokemon.name">
            <p>{{ pokemon.name }} (#{{ pokemon.pokedexNumber }})</p>
            <p>Types: {{ pokemon.types.join(', ') }}</p>
        </div>
        </div>
    </div>
    <div class="pokemon_stats" *ngIf="pokemonCards[selectedPokemonIndex]">
      <h2>#{{ pokemonCards[selectedPokemonIndex]?.pokedexNumber }} {{ pokemonCards[selectedPokemonIndex]?.name }}</h2>
      <div class="stats_column">
        <img [src]="pokemonCards[selectedPokemonIndex]?.image" [alt]="pokemonCards[selectedPokemonIndex]?.name ">
        <p>Types: {{ pokemonCards[selectedPokemonIndex]?.types?.join(', ') }}</p>

        <label for="natures">Nature:</label>
        <select id="nature" [(ngModel)]="selectedNature" (ngModelChange)="updateNature()" >
          <option *ngFor="let nature of natures" [value]="nature">{{ nature }}</option>
        </select>

        <label for="items">Items:</label>
        <select id="item" [(ngModel)]="selectedItem" (ngModelChange)="updateItem()" >
          <option *ngFor="let item of items" [value]="item">{{ item }}</option>
        </select> 
        <label for="abilities">Ability:</label>
        <select id="ability" [(ngModel)]="selectedAbility" (ngModelChange)="updateAbility()" >
          <option *ngFor="let ability of abilities" [value]="ability">{{ ability }}</option>
        </select>        
      </div>
      <div class="stats_column">
        <div class="battle_stats" >
          <h3>Base Stats</h3>
          <div *ngIf="pokemonCards[selectedPokemonIndex]">
            <label>Attack: {{ (pokemonCards[selectedPokemonIndex]?.attack || 0) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.attack !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.attack || 0) / 255 * 100"></div>
            </div>
            <label>Special Attack: {{ (pokemonCards[selectedPokemonIndex]?.specialAttack) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.specialAttack !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.specialAttack || 0) / 255 * 100"></div>
            </div>
            <label>Defense: {{ (pokemonCards[selectedPokemonIndex]?.defense) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.defense !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.defense || 0) / 255 * 100"></div>
            </div>
            <label>Special Defense: {{ (pokemonCards[selectedPokemonIndex]?.specialDefense) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.specialDefense !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.specialDefense || 0) / 255 * 100"></div>
            </div>
            <label>Speed: {{ (pokemonCards[selectedPokemonIndex]?.speed) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.speed !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.speed || 0) / 255 * 100"></div>
            </div>
            <label>Hp: {{ (pokemonCards[selectedPokemonIndex]?.hp) }}</label>
            <div class="progress-bar-container" *ngIf="pokemonCards[selectedPokemonIndex]?.hp !== undefined">
              <div class="progress-bar" [style.width.%]="(pokemonCards[selectedPokemonIndex]?.hp || 0) / 255 * 100"></div>
            </div>           
          </div>
        </div>
        <div class="moves"  *ngIf="pokemonCards[selectedPokemonIndex]">
          <h3>Moves</h3>
          <select  id="move1" [(ngModel)]="selectedMove[0]" (ngModelChange)="updateMove(0)" >
            <option *ngFor="let move of moves" [value]="move">{{ move }}</option>
          </select>
          <select  id="move2" [(ngModel)]="selectedMove[1]" (ngModelChange)="updateMove(1)" >
            <option *ngFor="let move of moves" [value]="move">{{ move }}</option>
          </select>
          <select  id="move3" [(ngModel)]="selectedMove[2]" (ngModelChange)="updateMove(2)" >
            <option *ngFor="let move of moves" [value]="move">{{ move }}</option>
          </select>
          <select  id="move4" [(ngModel)]="selectedMove[3]" (ngModelChange)="updateMove(3)" >
            <option *ngFor="let move of moves" [value]="move">{{ move }}</option>
          </select>
        </div>        
      </div>   
      <div class="stats_row">
        <table>
          <thead>
            <tr>
              <th>Stats</th>
              <th>Parameters</th>
              <th colspan="2">Ivs</th>
              <th colspan="2">Evs</th>
            </tr>          
          </thead>
          <tbody>
            <tr>
              <td>Hp</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.hp || 0),ivs[0],evs[0],100,true) }}</td>
              <td><input type="range" [(ngModel)]="ivs[0]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[0]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[0]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[0]" [min]="0" [max]="252" class="number-input"/></td>
            </tr>
            <tr>
              <td>Attack</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.attack || 0),ivs[1],evs[1],100,false) }}</td>
              <td><input type="range" [(ngModel)]="ivs[1]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[1]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[1]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[1]" [min]="0" [max]="252" class="number-input"/></td>
            </tr>
            <tr>
              <td>Special Attack</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.specialAttack || 0),ivs[2],evs[2],100,false) }}</td>
              <td><input type="range" [(ngModel)]="ivs[2]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[2]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[2]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[2]" [min]="0" [max]="252" class="number-input"/></td>
            </tr>
            <tr>
              <td>Defense</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.defense || 0),ivs[3],evs[3],100,false) }}</td>
              <td><input type="range" [(ngModel)]="ivs[3]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[3]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[3]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[3]" [min]="0" [max]="252" class="number-input"/></td>
            </tr>
            <tr>
              <td>Special Defense</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.specialDefense || 0),ivs[4],evs[4],100,false) }}</td>
              <td><input type="range" [(ngModel)]="ivs[4]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[4]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[4]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[4]" [min]="0" [max]="252" class="number-input"/></td>
              
            </tr>
            <tr>
              <td>Speed</td>
              <td>{{ obtainStatsWithCertainLevel((pokemonCards[selectedPokemonIndex]?.speed || 0),ivs[5],evs[5],100,false) }}</td>
              <td><input type="range" [(ngModel)]="ivs[5]" [min]="0" [max]="31" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="ivs[5]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="range" [(ngModel)]="evs[5]" [min]="0" [max]="252" class="number-input"/></td>
              <td><input type="number" [(ngModel)]="evs[5]" [min]="0" [max]="252" class="number-input"/></td>
            </tr>          
          </tbody>
        </table>      
      </div>   
    </div>
</div>  

  