body{
     background-color: #262626; 
}
.button {
     background-color: #333;
     color: #f4f4f4;
     font-size: 16px;
     padding: 10px 20px;
     border: 2px solid #444;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.3s ease, transform 0.2s ease;
     font-weight: bold;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   }
   
   .button:hover {
     background-color: #444;
     transform: translateY(-2px);
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
   }
   
   .button:active {
     background-color: #555;
     transform: translateY(2px);
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   }